html {
     background: white;
     font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 2vh;
    width: 10vw;
    word-wrap: break-word;
    text-align: center;
}

#tiles {
    width: 30vw;
    aspect-ratio: 1/1;
    border: 1vh solid black;
}

.selected {
    background-color: #FFF;
    border: none;
    color: white;
    cursor: default;
}

.selected:hover {
    cursor: default;
}

.btn {
    font-size: 0px;
    height: 10vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-size: contain;
    border: none;
}

#btn1 {
    background-image: url('../img/n_01.jpg');
    opacity: 1;
}

#btn2 {
    background-image: url('../img/n_02.jpg');
    opacity: 1;
}

#btn3 {
    background-image: url('../img/n_03.jpg');
    opacity: 1;
}

#btn4 {
    background-image: url('../img/n_04.jpg');
    opacity: 1;
}

#btn5 {
    background-image: url('../img/n_05.jpg');
    opacity: 1;
}

#btn6 {
    background-image: url('../img/n_06.jpg');
    opacity: 1;
}

#btn7 {
    background-image: url('../img/n_07.jpg');
    opacity: 1;
}

#btn8 {
    background-image: url('../img/n_08.jpg');
    opacity: 1;
}

#btn9 {
    background-image: url('../img/n_09.jpg');
    opacity: 0;
}